.footer {
  background-color: $color-blue;
  color: white;
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 35px;

  &-row {
    &-links, &-icons {
      padding-top: 2rem;
    }

    &-copyright {
      padding-bottom: 1rem;
    }
  }

  &-link {
    padding: .8rem 1rem;
    color: white;
    text-decoration: none;
    display: block;
  }

  &-bank {
    color: white;
    text-decoration: none;
    display: inline-block;
  }

  &-bank {
    text-align: left;

    &-icon {
      margin: 1rem;
      color: white;
      text-decoration: none;
      display: inline-block;
      height: 32px;
      width: 52px;
    }
  }

  &-social {
    text-align: right;
    padding-right: 20px;

    &-icon {
      margin: 2px;
      color: white;
      text-decoration: none;
      display: inline-block;
      height: 32px;
      width: 32px;
      text-align: center;
      font-size: 2.8rem;
    }
  }

  &-copyright {
    display: block;
    padding: .8rem .8rem 0 .8rem;
  }
}