.row {
  width: $grid-width;
  margin: 0 auto;

  @include clearfix;

  [class^="col"] {
    float: left;
  }

  .col-left, .col-right {
    margin-left: $grid-gutter;
    width: $menu-width;
  }

  .col-middle {
    margin-left: $grid-gutter;
    width: calc(100% - 2 * #{$menu-width} - 4 * #{$grid-gutter});
  }

  .col-1-4 {
    width: calc(100% / 4);

    &--footer {
      min-width: 245px;
    }
  }

  .col-1-2 {
    width: calc(100% / 2);

    &--footer {
      margin: 0;
    }
  }
}