.menu-v {
  position: relative;
  margin-bottom: 40px;

  &__children {
    display: none;
  }

  &__header {
    margin-bottom: 12px;
  }

  &__container, &__parent, &__child {
    list-style: none;
  }

  &__toggle {
    position: absolute;
    left: -3px;
    display: block;
    width: 18px;
    height: 18px;
    background: url('../../static/icons/menu/menu.gif') left;
    cursor: pointer;

    &--no {
      border: 1px solid $color-white;
      background-position-x: -36px;
    }

    &--minus {
      background-position-x: -18px;
    }
  }

  &__parent {
    padding: 4px 4px 4px 16px;
    border: 2px solid $color-gray;
    margin: 2px 4px 4px 4px;
    width: 98%;
    cursor: pointer;

    &__link {
      color: $color-black;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }

    &__link:hover {
      color: $color-orange;
    }
  }

  &__child {
    padding-top: 3px;
    cursor: pointer;

    &__link {
      color: $color-black;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    &__link:hover {
      color: $color-orange;
    }
  }
}