.cart {
  &__product {
    padding-bottom: 10px;
    border-bottom: 2px solid $color-gray-light;

    @include clearfix;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &__img {
      float: left;
      display: inline-block;
      box-shadow: $box-shadow-standard;
      width: 140px;
      height: 112px;
      margin: 0 auto;

      &__tag {
        width: 100%;
      }
    }

    &__desc {
      float: left;
      font-size: 1.3rem;
      line-height: 1.8rem;
      display: inline-block;
      padding: 0 10px 10px 10px;
      height: 112px;
      max-width: 445px;
      overflow: hidden;
    }

    &__controls {
      border-left: 2px solid $color-gray-light;
      padding-left: 10px;
      height: 112px;
      width: 145px;
      float: right;
      display: block;
      text-align: right;

      &__del {
        display: inline-block;
        width: 22px;
        height: 23px;
        background: url('../../static/icons/cart/delete_1.gif');
      }

      &__inc-dec {
        margin-top: 4px;

        &__form {
          @include clearfix;
        }

        &__dec {
          display: inline-block;
          float: right;
          height: 34px;
          width: 34px;
          background: url(../../static/icons/cart/iminus.gif);
        }

        &__input {
          float: right;
          display: inline-block;
          height: 34px;
          width: 56px;
          padding: 0 4px;
          font-size: 2rem;
          text-align: center;
          border: 1px solid $color-blue;
        }

        &__inc {
          float: right;
          display: inline-block;
          height: 34px;
          width: 34px;
          background: url(../../static/icons/cart/iplus.gif);
        }

        &__submit {
          margin: 7px 0 10px 0;
          border: none;
          display: inline;
          font-size: 1.6rem;
          color: $color-orange;

          &:hover {
            text-decoration: underline;
          }

          &--disable {
            visibility: hidden;
          }
        }

        &__price {

        }
      }
    }
  }

  &__total {
    padding-top: 42px;
    text-align: right;

    &__line {
      @include clearfix;

      &__val {
        display: inline-block;
        min-width: 120px;
        line-height: 2.4rem;
      }

      &__promo-input {
        padding: 7px 8px;
        border: 1px solid $color-blue;
        font-size: 1.6rem;
      }

      &__promo-submit {
        padding: 7px 8px;
        border: 1px solid $color-blue;
        background: $color-blue;
        font-size: 1.6rem;
        font-weight: 200;
        color: $color-white;
      }

      &--discount {
        color: $color-blue;
      }

      &--promo {
        padding: 14px 0;
      }

      &--buttons {
        padding-top: 44px;

        @include clearfix;
      }
    }
  }
}