.form-order {
  &__field {

    &__label {
      line-height: 40px;
    }

    &__input {
      font-size: 1.4rem;
      width: 430px;
      height: 34px;
      border: 1px solid $color-blue;
      line-height: 34px;
      padding: 0 8px;
      margin: 3px;
    }

    &__textarea {
      font-size: 1.4rem;
      width: 430px;
      height: 95px;
      border: 1px solid $color-blue;
      padding: 8px;
      margin: 3px;
      resize: none;
    }
  }
}

