.pager {
  margin: 8px auto 8px auto;
  text-align: center;
  white-space: nowrap;
  font-size: .1rem;

  &__elem {
    display: inline-block;
    margin: 0;
    cursor: pointer;

    &--active {
      cursor: auto;

      .pager__elem__atom {
        background: $color-blue;
        box-shadow: inset 0 0 0 1px #fff;
      }
    }

    &__atom {
      display: inline-block;
      width: 9px;
      height: 17px;
      border: 1px solid $color-gray;
    }
  }
}