.picking {
  &__submit {
    margin: 20px 0;
    height: 28px;
    padding: .5rem 1rem;
    color: $color-white;
    border: 1px solid $color-blue;
    background: $color-blue;
    font-size: 1.3rem;
    cursor: pointer;

    &:hover {
      color: $color-orange;
    }
  }
}