.recount {
  text-align: right;
  font-size: 1.6rem;
  padding-top: 26px;

  &__button {
    font-size: 1.6rem;
    padding: 8px;
    color: $color-white;
    border: 1px solid $color-blue;
    background: $color-blue;
  }

  &__total {
    width: 120px;
    display: inline-block;

    &__val {

    }
  }
}