.triple {
  &__header {}

  &__content {
    @include clearfix;
  }

  &__card {

    &--absent {
      .triple__card__buy {
        background-color: $color-blue-light;
      }
    }

    height: 333px;
    width: 245px;
    margin-bottom: 20px;
    float: left;
    box-shadow: $box-shadow-standard;
    text-align: center;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &__img-place {
      height: 196px;
      width: 245px;
    }

    &__name {
      font-size: 1.2rem;
      height: 59px;
      padding: 6px 3px 0 3px;
    }

    &__link:hover {
      color: $color-blue;
    }

    &__price-previous {
      font-size: 1.8rem;
      line-height: 2rem;
      color: $color-gray-price;
      text-decoration: line-through;
      display: block;
      height: 26px;
    }

    &__price-current {
      font-size: 1.8rem;
      line-height: 2rem;
    }

    &__buy {
      background-color: $color-orange;
      height: 32px;
      line-height: 32px;

      &-link {
        display: block;
        color: $color-black;
        text-decoration: none;
      }

      &-link:hover {
        color: $color-blue;
      }
    }
  }

  &--catalog {
    .triple__card {
      height: 263px;

      &__name {
        font-size: 1.5rem;
        padding: 9px 3px 0 3px;
        cursor: pointer;
        display: inline-block;
        color: $color-black;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}