*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  min-height: 100%;
  font-family: 'DejaVu Sans', sans-serif;
  font-size: 1.4rem;
  margin: 0 auto;
  background-color: $color-gray-light;
}

header {}

nav {}

main {
  padding-top: 18px;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.8rem;
  margin: 8px 0 16px 0;
}

h4 {
  font-size: 1.6rem;
  line-height: 4.2rem;
}

p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

a {
  color: $color-blue;
  text-decoration: none;
}

a:hover {
  color: $color-orange;
}

input {
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;

  &:hover {
    color: $color-orange;
  }

  &:focus {
    outline: none;
  }
}

.page {
  width: $grid-width;
  margin: 0 auto;
  background-color: $color-white;
  box-shadow: $box-shadow-standard;
}