// Shadows
$box-shadow-standard: 0 2px 18px -7px rgba(0, 0, 0, .75);

// COLORS
$color-white: white;
$color-black: black;
$color-green: green;
$color-gray: #dbe1f1;
$color-gray-light: #f1f2f6;
$color-gray-price: #b4b4b4;
$color-blue: #5e7cc2;
$color-blue-light: #e2ebff;
$color-orange: #f7931e;
$color-violet: #7c529c;

// MENU
$menu-width: 224px;

// GRID
$grid-width: 1240px;
$grid-gutter: 1rem;
